import("Renext")
import("stats")
import("splines")
import("graphics")
import("methods")
importFrom("quadprog", "solve.QP")
importFrom("grDevices", "col2rgb", "rgb")

export(convSL, convSLOld,
       RSLplot,
       SplineDensity, rSplineDensity, momGen,
       GPtail,
       varnames, "varnames<-")
              
## methods for the S3 class "SplineDensity"
S3method(plot, "SplineDensity")
S3method(predict, "SplineDensity")
S3method(print, "SplineDensity")
S3method(summary, "SplineDensity")

## methods for the S3 class "GPtail"
S3method(plot, "GPtail")
S3method(print, "GPtail")
S3method(varnames, "GPtail")
S3method("varnames<-", "GPtail")
